*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 2%;
    padding-left: 5%;
}
.container{
    display: flex;
    padding: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.message{
    font-size: 25px;
    margin-top: 20px;
}
.bouton{
    font-weight: 600;
    cursor:pointer;
    border-radius: 4px;
    border: #009bFF solid 1px;
    background-color: #009bFF;
    height: 25px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
}
.right{
    border-left: 2px solid;
    margin-left: 2%;
}
form {
    visibility: hidden;
    margin: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.left{
    margin-right: 5%;
}
.input,
#date,
#tel{
    width: 95%;
    height: 30px;
}
.group,
label{
    display: block;
    padding: 5%;
}
.date{
    grid-column-start: 1;
    grid-column-end: 3;
}
.group-btn-s,
.group-btn-c{
    padding: 0.5%;
}
/*.formulaire-contact{
    visibility: hidden;
}*/
img{
    height: 25px;
}
.item{
    display: flex;
    margin: 5%;
    padding: 5%;
}
.list-contact-item{
    display: flex;
    flex-direction: column;
}
